/* Значения по умолчанию для блока body  */
body {
   margin: 0;
   font-family: 'Raleway', sans-serif;
   font-size: 14px;
   color: #6c7279;
   background-color: #fff;
   -webkit-font-smoothing: antialiased;
   /*  webkit - это специальная приставка, показывающее, что свойство, которое используется, экспериментальное
       При желании можно спокойно удалить, контент от этого не пострадает  */
}

*,
*:before,
*:after {
   box-sizing: border-box;
}
/* Указанное значение - такой алгоритм подсчета размера блоков с учетом различных параметров (margin, padding и др). 
   К примеру, если размер блока 400px, а padding 20px, то блок будет размером 400px, а контент будет меньшего размера. 
   Т.е. прописав это свойство, не нужно просчитывать размер блока с учетом значения padding. Потому что, к примеру, 
   если не пропишем данное свойство, а используем стандартный алгоритм просчета (блок 400px, padding с обоих сторон 20px) - блок станет 440 px */

h1, h2, h3, h4, h5, h6 {
   margin: 0;
}
/* Для всех заголовков мы убрали (обнулили) значение margin (внешний отступ) */

p {
   margin: 0 0 10px; /* Установили значение margin для абзацев (сверху - 0px, справа - 0px, снизу - 10px, слева - 0px) */
}

/*===================CONTAINER==============*/
.container {
   width: 100%; /* Ширина блока */
   max-width: 1170px; /* Максимальная ширина */
   margin: 0 auto; /* Выравнивание контейнера по центру (значение 0 - сверху и снизу, auto - слева и справа) */
}

/*====================HEADER================*/
.header {
   width: 100%; /* Ширина блока (шапки) */
   height: 100px; /* Это высота навигационного меню от верхнего края страницы до серой линии */
   position: absolute; /* Для позиционирования элементов при помощи FLEXBOX CSS */
   top: 0;
   left: 0;
   z-index: 1000;
}

.header__inner {
   display: flex; /* Указание на то, что для позиционирования используется FLEXBOX CSS */
   justify-content: space-between; /* Одно из значений FLEXBOX CSS */
   align-items: center; /* Выравнивание содержимого (навигации и лого) по центру в контейнере (header__inner) */
   padding: 35px 0; /* Внутренний отступ. Сверху и снизу шапки (навигация) - 35px, другие значение - 0px */
   border-bottom: 1px solid #515369;
}

/*==================NAVIGATION==================*/
.nav {
   display: flex;
   font-size: 13px; /* Размер шрифта */
   font-weight: 700; /* Полужирное начертание */
   text-transform: uppercase; /* Все буквы большие */
}

.nav__link {
   margin-left: 50px; /* слева у ссылок будет отступ 50px */
   color: #fff;
   text-decoration: none; /* убрали подчеркивание снизу у ссылок */
   opacity: .75; /* Прозрачность 0,75 */
   transition: opacity .1s linear; /* Настройка анимации прозрачности - при наведении будет становиться менее ярким */
}

.nav__link:first-child { /* Настройка параметров лишь для первого элемента навигации */
   margin-left: 0; /* У первого элемента не будет отступа слева 50px */
}

.nav__link:hover {
   opacity: 1;
  /* text-decoration: underline - чтобы при наведении указывалась линия ссылки (тут не будем использовать)
    При наведении будет показываться подчеркивание */
}

/*=========================INTRO==========================*/
.intro {
   display: flex;
   flex-direction: column; /*Каждый новый элемент в блоке Intro будет начинаться с новой строки*/
   justify-content: center; /* Выравниваем текст по центру блока INTRO */
   height: 750px;
   padding-top: 100px;
   /*100px - это высота header, т.е. указав этот параметр, мы будем знать, 
   что БЛОК Intro будет начинаться после шапки со 101px*/

   /* Вставляем картинку и оформляем ее свойства */
   background-image: url(../img/intro-bg.jpg);
   background-color: #31344e;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   /*    INFO: Задали высоту картинки 750px
               Установили картинку в качестве фона блока по центру
               no-repeat - чтоба картинка не повторялась
               cover - чтобы занимала пропорционально всю ширину и высоту блока
               #31344e - фон по умолчанию (если плохой интернет и картинка не загрузится */
}

.intro__inner {
   width: 100%;
   max-width: 970px; /* Максимальная ширина */
   margin: 0 auto; /* Выравнивание по центру */
   text-align: center; /* Выравнивание текста по центру внутри блока */
}

.intro__title {
   margin: 0 0 30px;
   font-family: 'Open Sans', sans-serif; /* Устанавливаем стиль шрифта для блока */
   font-size: 65px; /* Устанавливаем размер шрифта для блока (желательно не использовать значение в пикселях) */ 
   line-height: 1.1; /* Межстрочный отступ */
   color:#fff; /* Цвет шрифта*/
   font-weight: 700; /* Стилизация шрифта (по макету Photoshop) */
   text-transform: uppercase; /* Все буквы большие */
}

.intro__subtitle {
   margin-bottom: 60px;
   font-size: 22px;
   color: #fff;
   line-height: 1.5;
   font-weight: 400;
}

/*==================BUTTON=====================*/
.btn {
   display: inline-block;
   vertical-align: top; /*Выравнивание текста по вертикальной границе*/
   padding: 14px 40px; /*Задали размер кнопки: первое значение - верх и них, второе значение - справа и слева*/
   
   border-radius: 2px; /*Скругление границ у кнопки*/
   border: 0; /*Толщина границы кнопки*/
   cursor: pointer; /*Оформление курсора - при наведении на кнопку будет появляться ручка*/
   
   /*Оформление текста внутри кнопки*/
   font-family: 'Raleway', sans-serif;
   font-size: 13px;
   color: #fff;
   font-weight: 600;
   text-transform: uppercase;
   text-decoration: none; /* убрали подчеркивание снизу у ссылок */
   
   /* Оформление скорости (плавности) смена фона у кнопки */
   transition: background .1s linear;
}

.btn--red {
   background-color: #e84545;
}
/* Само значение - это модификатор, один из элементов БЭМ (Блок/Элемент/Модификатор).
   Модификаторы в основном используются для того, чтобы задать изменение элемента (изменить цвет, размер, форму и т.д.)
   В данном случае мы указали изначальный цвет, какой будет у кнопки по умолчанию */

.btn--red:hover 
{
   background-color: #cc3737;
}
/* При наведении курсора цвет фона кнопки будет изменяться цвет кнопки */